*.iml
.gradle
/local.properties
/.idea/workspace.xml
/.idea/libraries
.DS_Store
/build
/captures
.externalNativeBuild
/auth/build
auth/src/main/assets/crashlytics-build.properties
auth/src/main/res/values/com_crashlytics_export_strings.xml
